# **Bibliotecas**

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Thu Apr  2 
@author: Priscila Brito
"""

'\nCreated on Thu Apr  2 \n@author: Priscila Brito\n'

In [2]:
#-- Libraries
import pandas as pd 
import numpy as no 
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# **Carregamento dos Dados**

In [0]:
#-- Begin data
andress = '/content/train.csv'
dtfinal = '/content/test.csv'

df_test = pd.read_csv(dtfinal)
df = pd.read_csv(andress)

# **Análise exploratória dos Dados**

In [4]:
comps = ['NU_NOTA_MT', 'NU_NOTA_COMP1','NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5']
df[comps].corr() #Com isso vemos que a competência de maior correlação é a competência 3.

               NU_NOTA_MT  NU_NOTA_COMP1  ...  NU_NOTA_COMP4  NU_NOTA_COMP5
NU_NOTA_MT       1.000000       0.299402  ...       0.342282       0.343337
NU_NOTA_COMP1    0.299402       1.000000  ...       0.824538       0.558587
NU_NOTA_COMP2    0.335638       0.756664  ...       0.808006       0.655915
NU_NOTA_COMP3    0.350307       0.759452  ...       0.827151       0.664350
NU_NOTA_COMP4    0.342282       0.824538  ...       1.000000       0.635018
NU_NOTA_COMP5    0.343337       0.558587  ...       0.635018       1.000000

[6 rows x 6 columns]

In [0]:
atributos = {
    'MATEMATICA': df['NU_NOTA_MT'],
    'NATURAIS': df['NU_NOTA_CN'],
    'LINGUAGENS': df['NU_NOTA_LC'],
    'HUMANAS': df['NU_NOTA_CH'],
    'REDACAO': df['NU_NOTA_REDACAO'],
    'COMPET_3': df['NU_NOTA_COMP3']
}

In [0]:
data = pd.DataFrame(atributos)
data = data.dropna(axis=0, how='any')

In [0]:
data.index = range(0, len(data.index))

In [0]:
#-- Função média das notas
data['MEDIA']= (data['MATEMATICA']*3+data['NATURAIS']*2+data['LINGUAGENS']*1.5+data['HUMANAS']*1+data['REDACAO']*3)/10.5

# **Aplicação do modelo de Regressão (Média)**

In [0]:
y = data['MEDIA']
X = data.drop(['MATEMATICA','MEDIA'], axis=1)

In [0]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error

RLM = LinearRegression()
RLM.fit(train_X, train_y)
predict1 = RLM.predict(test_X)
print(RLM.score(train_X, train_y))

0.9260103363986306

In [0]:
from sklearn.ensemble import RandomForestRegressor
RFM = RandomForestRegressor(n_estimators = 20)
RFM.fit(train_X, train_y)
predict3 = RFM.predict(test_X)
score = RFM.score(test_X, test_y)
score

0.9153401682411153

# **Aplicação do modelo de Regressão (Matemática)**

In [0]:
y = data['MATEMATICA']
X = data.drop('MATEMATICA', axis=1)

In [0]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error

RL = LinearRegression()
RL.fit(train_X, train_y)
predict2 = RL.predict(test_X)

RL_media = mean_absolute_error(test_y,predict2)
print(RL_media, RL.score(train_X, train_y))

3.7844960022411883e-13 1.0

In [15]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators = 20)
RF.fit(train_X, train_y)
predict4 = RF.predict(test_X)
score = RF.score(test_X, test_y)
score

0.9556242923339696

###ANALISANDO O CONJUNTO DE DADOS DE TESTE

In [16]:
atributos_teste = {
    'NU_INSCRICAO': df_test['NU_INSCRICAO'],
    'NATURAIS': df_test['NU_NOTA_CN'],
    'LINGUAGENS': df_test['NU_NOTA_LC'],
    'HUMANAS': df_test['NU_NOTA_CH'],
    'REDACAO': df_test['NU_NOTA_REDACAO'],
    'COMPET_3': df_test['NU_NOTA_COMP3']
}

data_teste = pd.DataFrame(atributos_teste)

data_teste = data_teste.dropna(axis=0, how='any')
data_teste

                                  NU_INSCRICAO  NATURAIS  ...  REDACAO  COMPET_3
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98     464.8  ...    420.0      80.0
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968     391.1  ...    580.0     120.0
2     b38a03232f43b11c9d0788abaf060f7366053b6d     595.9  ...    320.0      40.0
4     715494628a50142ce8cb17191cfe6d0f3cae0934     592.9  ...    320.0      60.0
5     e656d6bad65c93fb2880f1eba5037008c8e75774     414.5  ...    560.0     120.0
...                                        ...       ...  ...      ...       ...
4570  13aaf6335f43cfc1b8baeac559324f20b2653724     465.9  ...    540.0     100.0
4571  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b     398.3  ...    500.0     120.0
4572  a75fa8770257e7c9368d059fe53d9ef431f4bdef     427.6  ...    520.0     100.0
4573  655fa6306720ff16e825903b5422a46608a77545     639.2  ...    640.0     120.0
4574  1f4bc3e3d56212d500625bfe8ac78ccff4362293     427.1  ...    520.0      80.0

[3360 rows x 6 columns]

In [0]:
data_teste.index = range(0, len(data_teste.index))

In [18]:
data_teste['MEDIA']= RLM.predict(data_teste.iloc[:, 1:])
data_teste.head(5)

                               NU_INSCRICAO  NATURAIS  ...  COMPET_3       MEDIA
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98     464.8  ...      80.0  437.157849
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968     391.1  ...     120.0  489.813814
2  b38a03232f43b11c9d0788abaf060f7366053b6d     595.9  ...      40.0  519.778267
3  715494628a50142ce8cb17191cfe6d0f3cae0934     592.9  ...      60.0  488.465919
4  e656d6bad65c93fb2880f1eba5037008c8e75774     414.5  ...     120.0  503.416509

[5 rows x 7 columns]

In [19]:
data_teste['NU_NOTA_MT']= RF.predict(data_teste.iloc[:, 1:])
data_teste.head(5)

                               NU_INSCRICAO  NATURAIS  ...       MEDIA  NU_NOTA_MT
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98     464.8  ...  437.157849     424.430
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968     391.1  ...  489.813814     428.960
2  b38a03232f43b11c9d0788abaf060f7366053b6d     595.9  ...  519.778267     608.880
3  715494628a50142ce8cb17191cfe6d0f3cae0934     592.9  ...  488.465919     536.460
4  e656d6bad65c93fb2880f1eba5037008c8e75774     414.5  ...  503.416509     464.255

[5 rows x 8 columns]

In [0]:
data_teste = data_teste.drop(['NATURAIS','LINGUAGENS','HUMANAS','REDACAO','COMPET_3', 'MEDIA'],axis=1)

In [0]:
data_teste.to_csv('answer.csv', index=False)

In [22]:
final = pd.read_csv('answer.csv')
final.head()

                               NU_INSCRICAO  NU_NOTA_MT
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98     424.430
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968     428.960
2  b38a03232f43b11c9d0788abaf060f7366053b6d     608.880
3  715494628a50142ce8cb17191cfe6d0f3cae0934     536.460
4  e656d6bad65c93fb2880f1eba5037008c8e75774     464.255